footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

header {
    position: fixed;
    font-size: 1.38rem;
    line-height: 1.8;
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 1rem;
    padding-left: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1.5rem;
    z-index: 9999;
    opacity: 0.5;
}

body {
    background-color: #000;
}

label,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-family: 'Roboto';
}


.backgroundimg {
    background-image: url('/static/images/spacebackground.png');
    background-size: cover;
    background-repeat: repeat-x;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #555;
    color: white;
}

.explore {
    position: fixed;
    bottom: 0;
    color: rgba(128, 0, 128, 0.8);
    text-shadow: 0 0 10px rgba(128, 0, 128, 0.8), 0 0 20px rgba(128, 0, 128, 0.8), 0 0 30px rgba(128, 0, 128, 0.8);
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-size: 4rem;
    text-align: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

canvas {
    border: 1px solid white;
    position: absolute;
    top: 12vh;
    left: 0;
    box-sizing: border-box;
    z-index: 10;
}

.infoBox {
    position: absolute;
    top: 12vh;
    left: calc(70%);
    /* Position it to the right of the canvas */
    z-index: 11;
    /* Ensure it is above the canvas */
}

input[type=text]:focus {
    background-color: lightblue;
    border: 3px solid #555;
}