<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Flask App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <header class="header">
        <div>
            <div></div> <!-- This is a div for the navigation -->
            <div>
                <h1>ExoMappers</h1>
            </div> <!-- This is a div for the logo -->
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 ExoMappers>
    </footer>
</body>

</html>