<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ExoLife{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <header>
        <div class="navbar">
            <a href="{{ url_for('home.index') }}">Home</a>
            <a href="{{ url_for('systemview.index') }}">System View</a>
            <a href="{{ url_for('home.tryit') }}">Try it</a>
            <a href="{{ url_for('about.index') }}">About</a>
        </div>
        <div>
            <h1>ExoLife</h1>
        </div>
        <div></div>
    </header>
    <main style="min-height: calc(85vh);"">
    {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 ExoMappers</p>
    </footer>
</body>

</html>